<?xml version="1.0"?>
<!--
/**
 * @author Danilo Eidy Ramazzotti Suguimoto
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <webjump>
            <petkind>
                <enable>1</enable>
            </petkind>
        </webjump>
    </default>
</config>
