<?xml version="1.0"?>
<!--
/**
 * xml version 1
 *
 * @author Danilo Eidy Ramazzotti Suguimoto
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\Action\Action">
        <plugin name="myFirstPlugin" type="Webjump\HelloWorld\Plugin\MyFirstPlugin" sortOrder="1" disabled="false" />
    </type>

    <virtualType name="CustomLoggers" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Webjump\HelloWorld\Logger\Handler\CustomDebugHandler</item>
                <item name="critical" xsi:type="object">Webjump\HelloWorld\Logger\Handler\CustomCriticalHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Webjump\HelloWorld\Plugin\MyFirstPlugin">
        <arguments>
            <argument name="logger" xsi:type="object">CustomDebugLogger</argument>
        </arguments>
    </type>
</config>
